# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.venv/

# Machine Learning
*.pkl
pipeline_data.csv
eco_reports/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# GitHub Actions Artifacts
*.json
